/* Header Styling */
#header {
    background-color: #0052cc;
  }
  
  
  /* Tabs Styling */
  .tabs-container {
    margin-top: 20px;
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background-color: #565656;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab-button.active {
    background-color: #0052cc;
    color: white;
    border: none;
  }
  
  .tab-button:hover {
    background-color: #88a9ff;
  }
  
  
  /* Task List Styling */
  .tab-content {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f5f7;
  }
  
  .task-item strong {
    color: #0052cc;
  }